In [48]:
ls=[1,2,3]
ls1=[2,4,1]

In [49]:
ls.extend(ls1)
ls2=[]
for i in ls:
    ls2.append(i)

In [51]:
ls2.sort()

In [52]:
ls2

[1, 1, 2, 2, 3, 4]

In [59]:

b=[]
a=[]
b.extend(a)

In [60]:
b

[]

In [61]:
[] and 7

[]

In [64]:
'5' if True else False

'5'

### map

In [7]:
list(map(lambda x: x % 2 ==0, [x for x in range(5)]))

[True, False, True, False, True]

In [18]:
list(map(lambda x: x + 2, [x for x in range(5)]))

[2, 3, 4, 5, 6]

In [24]:
list(map(lambda x,y:x*y-4,range(5),[8,9,10,11,12]))

[-4, 5, 16, 29, 44]

### filter

In [19]:
# filter返回结果为TRUE的入参，而不是返回计算结果
list(filter(lambda x: x % 2 ==0, [x for x in range(5)]))

[0, 2, 4]

In [27]:
list(filter(lambda x: x + 2, [x for x in range(5)]))

[0, 1, 2, 3, 4]

In [29]:
list(filter(lambda x:x*x-4,range(10)))

[0, 1, 3, 4, 5, 6, 7, 8, 9]

### reduce

In [21]:
# 先把sequence中第一个值和第二个值当参数传给function，再把function的返回值和第三个值当参数传给fuction,最终返回一个结果值
# reduce必须有两个参数，显示0和1相加，然后将0+1的结果和2再次相加，依次类推
from functools import reduce  
reduce(lambda x, y: x + y, [x for x in range(5)])

10

In [22]:
from functools import reduce  
reduce(lambda x, y: x + y, [x for x in range(5)],4)

14

In [98]:
import pandas as pd

# df = pd.DataFrame(columns=['排名', '电影名称', '类型'])

df = pd.DataFrame()

In [99]:
df

Empty DataFrame
Columns: []
Index: []

In [100]:
row=pd.DataFrame({'排名':'lisa',
                 '电影名称':'F',
                 '类型':19},index=[0]
                )

In [101]:
row

     排名 电影名称  类型
0  lisa    F  19

In [94]:
df=df.append(row)

In [95]:
df

     排名 电影名称  类型
0  lisa    F  19
0  lisa    F  19
0  lisa    F  19
0  lisa    F  19
0  lisa    F  19
0  lisa    F  19

In [ ]:
row = pd.DataFrame({'排名':film_rank, '电影名称':film_name, '类型':film_type, '票房':film_box,
                    '票价':film_unit, '场次':film_times, '区域':film_region, '上映日期':film_open_date}，index=[0])